@model CarSale.Models.Car


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    
        <h4>Car Details</h4>
        <hr />

        <style>
            body {
                font-family: Arial;
                margin: 0;
            }

            * {
                box-sizing: border-box;
            }

            img {
                vertical-align: middle;
            }

            /* Position the image container (needed to position the left and right arrows) */
            .container {
                position: relative;
            }

            /* Hide the images by default */
            .mySlides {
                display: none;
            }

            /* Add a pointer when hovering over the thumbnail images */
            .cursor {
                cursor: pointer;
            }

            /* Next & previous buttons */
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 40%;
                width: auto;
                padding: 16px;
                margin-top: -50px;
                color: white;
                font-weight: bold;
                font-size: 20px;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

                /* On hover, add a black background color with a little bit see-through */
                .prev:hover,
                .next:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }

            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            /* Container for image text */
            .caption-container {
                text-align: center;
                background-color: #222;
                padding: 2px 16px;
                color: white;
            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            /* Six columns side by side */
            .column {
                float: left;
                width: 16.66%;
            }

            /* Add a transparency effect for thumnbail images */
            .demo {
                opacity: 0.6;
            }

                .active,
                .demo:hover {
                    opacity: 1;
                }
        </style>


        <div>
            @ViewBag.NoOfImageFiles images
            <div class="container">

                <div id="mainImage">
                    @for (int i = 1; i <= (int?)ViewBag.NoOfImageFiles; i++)
                    {
                        <div class="mySlides">
                            <div class="numbertext">1 / 6</div>
                            @{
                                string imageLink = "/cars/" + Model.Id.ToString() + "-" + i.ToString() + "_m.jpg";
                            }
                            <img src="@imageLink" style="width:100%" />
                        </div>
                    }
                </div>

               

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

                <div class="caption-container">
                <p id="caption"></p>
                </div>
                
            </div>

            <div class="row container">

                <div id="mainImage">
                    @for (int i = 1; i <= (int?)ViewBag.NoOfImageFiles; i++)
                    {
                        <div class="column">

                            @{
                                string imageLink = "/cars/" + Model.Id.ToString() + "-" + i.ToString() + "_s.jpg";
                            }
                            <img class="demo cursor" src="@imageLink" style="width:100%" onclick="@i" alt="Car Image @i" />
                        </div>
                    }
                </div>

         
                <div class="container">

                    <div class="row">
                        <div class="col-md-2">
                            Make
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Make)
                        </div>
                        <div class="col-md-2">
                            Model
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Model)
                        </div>

                        <div class="col-md-2">
                            <b>Time Uploaded</b>
                        </div>
                        <div class="col-md-2">
                            @Convert.ToDateTime(Model.InDate).ToString("dd/MM/yyyy")
                        </div>
                    </div>
                </div>


                <div>
                    <table class="row table table-striped table-bordered">
                        
                        <tr>
                            <td class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Year)
                            </td>
                            <td class="col-md-10">

                                @Html.DisplayFor(model => model.Year)

                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">
                                @Html.DisplayNameFor(model => model.color)
                            </td>
                            <td class="col-sm-10">
                                @Html.DisplayFor(model => model.color)
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NewOrUsed)
                            </td>
                            <td class="col-sm-10">
                                @Html.DisplayFor(model => model.NewOrUsed)
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">
                                @Html.DisplayNameFor(model => model.States)
                            </td>
                            <td class="col-sm-10">
                                @Html.DisplayFor(model => model.States)
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Price)
                            </td>
                            <td class="col-sm-10">
                                @Html.DisplayFor(model => model.Price)
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">
                                @Html.DisplayNameFor(model => model.UploadedBy)
                            </td>
                            <td class="col-sm-10">
                                @Html.DisplayFor(model => model.UploadedBy)
                            </td>
                        </tr>

                        <tr>
                            <td class="col-sm-10">
                                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>|
                                <a asp-action="FileUploadPage" asp-route-id="@Model?.Id">Upload Image</a>|
                                <a asp-action="Index">Back to List</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("demo");
                let captionText = document.getElementById("caption");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }
        </script>
</body>
</html>
